<div id="Borge" class="w3-container person" style="display:none">
  <br>
    <h4><i></i>Sample Tweet 1</h4>
      <button type="submit" onclick="document.getElementById('firstTab').style.display = 'none';document.getElementById('Borge').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Negative</button>
		<button type="submit" onclick="document.getElementById('firstTab').style.display = 'none';document.getElementById('Borge').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Neutral</button>
		<button type="submit" onclick="document.getElementById('firstTab').style.display = 'none';document.getElementById('Borge').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Positive</button>
</div>

<div id="Jane" class="w3-container person" style="display:none">
  <br>
    <h4><i></i>Sample Tweet 2</h4>
      <button type="submit" onclick="document.getElementById('secondTab').style.display = 'none';document.getElementById('Jane').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Negative</button>
		<button type="submit" onclick="document.getElementById('secondTab').style.display = 'none';document.getElementById('Jane').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Neutral</button>
		<button type="submit" onclick="document.getElementById('secondTab').style.display = 'none';document.getElementById('Jane').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Positive</button>
</div>

<div id="John" class="w3-container person" style="display:none">
  <br>
  <h4><i></i>Sample Tweet 3</h4>
  <button type="submit" onclick="document.getElementById('thirdTab').style.display = 'none';document.getElementById('John').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Negative</button>
		<button type="submit" onclick="document.getElementById('thirdTab').style.display = 'none';document.getElementById('John').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Neutral</button>
		<button type="submit" onclick="document.getElementById('thirdTab').style.display = 'none';document.getElementById('John').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Positive</button>
</div>
