{% extends "layout.html" %}
{% block body %}
<script>openTweet({{tweetId}})</script>

<div class="w3-main" style="margin-left:320px;">
<i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge w3-margin-left w3-margin-top" onclick="w3_open()"></i>

<div id="Borge" class="w3-container person" style="display:none">
  <br>
    <h4><i></i>Sample Tweet 1</h4>
      <button type="submit" onclick="document.getElementById('firstTab').style.display = 'none';document.getElementById('Borge').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Negative</button>
		<button type="submit" onclick="document.getElementById('firstTab').style.display = 'none';document.getElementById('Borge').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Neutral</button>
		<button type="submit" onclick="document.getElementById('firstTab').style.display = 'none';document.getElementById('Borge').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Positive</button>
</div>

<div id="Jane" class="w3-container person" style="display:none">
  <br>
    <h4><i></i>Sample Tweet 2</h4>
      <button type="submit" onclick="document.getElementById('secondTab').style.display = 'none';document.getElementById('Jane').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Negative</button>
		<button type="submit" onclick="document.getElementById('secondTab').style.display = 'none';document.getElementById('Jane').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Neutral</button>
		<button type="submit" onclick="document.getElementById('secondTab').style.display = 'none';document.getElementById('Jane').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Positive</button>
</div>

<div id="John" class="w3-container person" style="display:none">
  <br>
  <h4><i></i>Sample Tweet 3</h4>
  <button type="submit" onclick="document.getElementById('thirdTab').style.display = 'none';document.getElementById('John').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Negative</button>
		<button type="submit" onclick="document.getElementById('thirdTab').style.display = 'none';document.getElementById('John').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Neutral</button>
		<button type="submit" onclick="document.getElementById('thirdTab').style.display = 'none';document.getElementById('John').innerHTML = 'Your classification has been recorded'"> <!--Write action-->
			Positive</button>
</div>
</div>
{% endblock%}

<script>
function openTweet(personName) {
    var i;
    var x = document.getElementsByClassName("person");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    x = document.getElementsByClassName("test");
    for (i = 0; i < x.length; i++) {
       x[i].className = x[i].className.replace(" w3-light-grey", "");
    }
    document.getElementById(personName).style.display = "block";
    event.currentTarget.className += " w3-light-grey";
}
</script>